<% if logged_in? %>
  <div class="container">
    <div class="row">
      <h1>All Destination (<%= @feed_items.count %>)</h1>
      <p><%= link_to "New Destination", new_destination_path, class: "btn btn-primary btn-lg btn-record" %></p>
    </div>
    <div class="row">
      <%# FIXME: locals 指定を=>で記述しないとシンタックスエラーになるので要修正 %>
      <%= render partial: 'destinations/destination', locals: { :@destinations => @feed_items } %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <h1>Welcome to Departure!</h1>
    </div>
  </div>
<% end %>
