<% provide(:title, "Favorites") %>
<div class="container-fluid list-with-map-wrapper">
  <h1>お気に入り (<%= @favorites.count %>)</h1>
</div><!-- .container-fluid .list-with-map-wrapper -->
<% if @favorites.present? %>
  <%= render "destinations/list_with_map" %>
<% end %>
</div>
