<h2>コメント (<%= "#{@destination.comments.count}" %>)</h2>
<% if @comments.any? %>
  <div class="row destination-comment-list-wrapper">
    <%= render @comments %>
  </div><!-- .row .destination-comment-list-wrapper -->
<% end %>
