<% provide(:title, "Notifications") %>
<div class="container notification-index-wrapper">
  <h1>通知 (<%= @notifications.count %>)</h1>
  <% if @notifications.present? %>
    <div class="notification-index-item-wrapper">
      <%# <ul class="notifications"> %>
      <ul class="notification-index-item">
        <% # @notifications を_notification パーシャルに渡してローカル変数notification でループを回す %>
        <%= render partial: "notifications/notification", collection: @notifications %>
      </ul>
    </div><!-- .notification-index-item-wrapper -->
  <% end %>
</div><!-- .container .notification-index-wrapper -->
