<span id="favorite-<%= @destination.id %>">
  <% if !current_user.nil? && current_user.favorite?(@destination) %>
    <%= render "users/unfavorite" %>
  <% else %>
    <%= render "users/favorite" %>
  <% end %>
</span>
