<%= link_to "/favorites/#{@destination.id}/create",
  method: :post,
  class: "favorite",
  remote: true do %>
  <span class="favorite-btn-favorite"><i class="far fa-heart"></i></i> いいね!</span>
<% end %>
