<% # ログインユーザ以外のページで表示 %>
<% unless current_user?(@user) %>
  <div class="follow-form-wrapper" id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div><!-- .follow-form-wrapper #follow_form -->
<% end %>
