<div class="follow-form-wrapper" id="list_follow_form_<%= relationship_user.id %>">
    <% if current_user.following?(relationship_user) %>
      <% # パーシャルlist_unfollow にローカル変数relationship_user を明示的に渡す %>
      <%= render partial: "users/list_unfollow", locals: { relationship_user: relationship_user } %>
    <% else %>
      <% # パーシャルlist_follow にローカル変数relationship_user を明示的に渡す %>
      <%= render partial: "users/list_follow", locals: { relationship_user: relationship_user } %>
    <% end %>
  </div><!-- .follow-form-wrapper #list_follow_form -->
