<%= link_to "/favorites/#{@destination.id}/destroy",
  method: :delete,
  class: "unfavorite",
  remote: true do %>
  <span class="favorite-btn-unfavorite"><i class="fas fa-heart"></i> いいね!</span>
<% end %>

