<% provide(:title, @title) %>
<h1><%= @title %></h1>
<div class="container">

  <% if @following_follower_users.any? %>
    <ul class="users follow">
      <% #@following_follower_users をパーシャルにローカル変数following_follower_user で渡してループを回す %>
      <%= render partial: "users/following_follower_user", collection: @following_follower_users %>
    </ul>
    <%= will_paginate @following_follower_users %>
  <% end %>

</div><!-- .container -->
