<% provide(:title, @title) %>
<div class="container user-follow-wrapper">
  <% if controller.action_name == "following" %>
    <h1>Following / <%= link_to "Followers", followers_user_path %></h1>
  <% elsif controller.action_name == "followers" %>
    <h1><%= link_to "Followings", following_user_path %> / Followers</h1>
  <% end %>

  <% if @following_follower_users.any? %>
    <ul class="users follow">
      <% #@following_follower_users をパーシャルにローカル変数following_follower_user で渡してループを回す %>
      <%= render partial: "users/following_follower_user", collection: @following_follower_users %>
    </ul>
    <%= will_paginate @following_follower_users %>
  <% end %>

</div><!-- .container .user-follow-wrapper -->
