<% provide(:title, "Search") %>
<div class="container">
  <% if @search_word.present? %>
    <h1>"<%= @search_word %>" Search Results : <%= @destinations.count %></h1>
  <% else %>
    <h1>All Destinations</h1>
  <% end %>
  <div class="row">
    <%# FIXME: collection オプションを使った書き方に要修正 %>
    <%= render partial: "destination" %>
  </div>
</div>
