<% provide(:title, "Search") %>
<div class="container">
  <div class="row">
    <% if @search_word.present? %>
      <h1>"<%= @search_word %>" 検索結果: <%= @destinations.count %>件</h1>
    <% else %>
      <h1>"" 検索結果: <%= @destinations.count %>件</h1>
    <% end %>
  </div>
  <div class="row">
    <%# FIXME: collection オプションを使った書き方に要修正 %>
    <%= render partial: "destination" %>
  </div>
</div>
